.container {
    margin-top: 1rem;
    margin-left: 1rem;
    height: 100px;
}

.container p {
    margin-bottom: 3px;
}

.imageContainer {
    margin-top: 1rem;
    overflow: hidden;
    padding: 3px;
}

.logo {
    width: auto;
    height: 100px;
    margin: auto;
    transition: 500ms;
}

.logo:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 720px) {
    .logo {
        width: 100px;
        height: auto;
    }
}
