.container {
    margin-top: 1rem;
    text-align: center;
}

.container p {
    margin-bottom: 3px;
}

.imageContainer {
    margin-top: 1rem;
    overflow: hidden;
}

.logo {
    width: 100px;
    height: 100px;
    margin: auto;
    align-items: center;
    display: grid;
    transition: 500ms;
}

.logo:hover {
    transform: scale(1.05);
}