nav a {
    color: #65CAE2;
    font-family: 'Libre Baskerville', serif;
}

nav a:hover {
    color: #65CAE2;
    background-color: #FFDA66;
    font-family: 'Libre Baskerville', serif;
    text-decoration: none;
}

.hero {
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 6rem;
    width: 50%;
    min-width: 350px;
}

.hero p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
}

.hero p span {
    background-color: #FFDA66;
}

h2 {
    font-family: 'Lato';
    font-size: 2rem;
}