nav a {
    color: #65CAE2;
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    transition: 100ms;
}

nav a:hover {
    color: #65CAE2;
    background-color: #FFDA66;
    font-family: 'Libre Baskerville', serif;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    nav a {
        font-size: 12px;
    }
}


.hero {
    margin: auto;
    margin-top: 15rem;
    margin-bottom: 15rem;
    width: 50%;
    min-width: 300px;
}

.hero p {
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
}

.hero p span {
    background-color: #FFDA66;
}

.my-h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
}

.my-h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
}

.my-h3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 22px;
}

.my-h4 {
    font-family: 'Libre Baskerville', serif;
    font-size: 12px;
}

.my-body {
    font-family: 'Lato';
    font-size: 14px;
}

.my-tag {
    font-family: 'Lato';
    font-size: 10px;
}

.my-link {
    color: black;
    transition: 100ms;
}

.my-link:hover {
    color: #65CAE2;
    text-decoration: none;
}

.embedVideo-container {
    margin: auto;
    position: relative;
    overflow: hidden;
    display: flex;
    align-content: center;
}

.embedVideo-container iframe {
    margin: auto;
}


@media screen and (max-width: 600px) {
    .video_container {
        display: none;
    }
}