.container {
    max-width: 720px;
    margin: auto;
}

.mainImage {
    max-height: 300px;
}

.subtitle {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.subtitle p {
    margin-bottom: 0px;
}

.content {
    margin: auto;
    max-width: 600px;
}

.content p {
    font-family: 'Lato';
    font-size: 16px;
}