.container {
    max-width: 300px;
    margin: auto;
}

.container p {
    margin-bottom: 0px;
}

.project {
    width: 100%;
    height: auto;
    max-width: 300px;
    object-fit: contain;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 4px;
    align-items: center;
    display: grid;
}